{% extends "base.html.twig" %}
{% include 'src\Resources\script_to_search_val.php' %}
{% block body %}
<style>
.grid-container {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
}
</style>
<form action="/POST" class="start">
<div class="grid-container">
 {% for i in 0..9 %}
 <div class="row"><input placeholder="Wpisz liczbę" type="text" name="test_case" id="{{i}}"> <input type="button" value="SZUKAJ WARTOŚCI"  onClick="printValues(document.getElementById('{{i}}').value)"><input type="text" id="{{i}}+'s'" name="solution" readonly></div>
 {% endfor %}
</form>
{% endblock %}